
<h1>Welcome Elaine's Demo Page for Evolent Health </h1>
<br>

<button class="btn btn-dark" routerLink="/posts">Contact Information Section</button>

<br>
<div>
<h1>Introduction </h1>    
<p> Design and implement a production ready application for maintaining contact information. This demo page uses AngularJS framework. It contains 2 sections in the up right side of Navbar (Introduction, Contact Information) , each section uses an independent component.
<dl>
  <dt>Contacts Infomation</dt>
  <dd>- Fetch sample contacts data http://jsonplaceholder.typicode.com/users server  </dd>
  <dd>- Provide Add, Update, Delete function for contacts </dd>
</dl>
</div>     

